* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 95vw;
  margin: 10px auto;
  overflow-x: hidden;
}
h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 4em;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav a {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
  font-size: 1.3em;
  margin-right: 0.5em;
  transition: 0.3s;
}
nav a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
  margin-left: 1em;
  color: #000;
}

footer a:hover {
  opacity: 1;
}

input,
select,
textarea {
  font-size: 1.2em;
  padding: 7px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

textarea {
  min-height: 70px;
}

/*https://css-tricks.com/adaptive-photo-layout-with-flexbox/*/
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery div {
  height: 40vh;
  flex-grow: 1;
  margin: 0.5em;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.full-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
}

#contactForm label {
  margin-bottom: 0.4em;
  font-weight: 600;
}

#single-image {
  overflow: hidden;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .gallery div {
    height: auto;
  }
  h1 {
    font-size: 2.5em;
    margin-top: 10px;
  }
  #contactForm {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: auto;
  }
}
